@model VacationSite3.Models.Data.Comments
@{
    ViewData["Title"] = "AddComment";
}

<h1>AddComment</h1>
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm("AddComment", "Blog", FormMethod.Post))
{
    @Html.LabelFor(x => x.Commenter)
    @Html.TextBoxFor(x => x.Commenter, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Commenter, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.Comment)
    @Html.TextBoxFor(x => x.Comment, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Comment, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-primary">Save</button>
}

